@media (min-width: 1850px) {
    .container-big {
        padding: 0;
    }

    #section-1 {
        .sec1-info-wrapper {
            padding-bottom: 140px;
        }

        .wrapper1 {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .img-wrapp {
                z-index: 1;
                width: 600px;

                img {
                    margin-left: 90px;
                }
            }
        }
    }

    #section-2 {
        .col-md {
            height: 381px;
        }
    }
}

@media (max-width: 1200px) {


    #section-1 {
        text-align: center;
        padding: 50px 0;

        .wrapper1 {
            .img-wrapp {
                display: block;

                img {
                    margin: auto;
                }
            }
        }

        .sec1-info-wrapper {
            flex-direction: column;
        }

        .wrapper2 {
            padding: 40px 15px 40px;

            &:before {
                background-image: none;
            }
        }
    }

    #section-2 {
        .row {
            .col-md {
                height: 215px;
                padding-left: 25px;
            }
        }
    }

    #section-3 {

        .how-work-2,
        .how-work-4 {
            padding-left: 20px;
        }
    }
}

    @media all and (max-width: 992px) {

        .h2-modified {
            font-size: 50px;
        }

        .header-container {
            .header-wrapper {
                flex-direction: column;

                .logo-menu-wrapp {
                    width: 100%;
                    justify-content: space-between;

                    .logo-text {
                        display: none;
                    }
                }

                .header-menu {
                    flex-direction: column;

                    .menu-header-menu {
                        flex-direction: column;

                        .menu-item {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }


        .top-banner-wrapper {
            .title-container {
                padding-bottom: 60px;
            }

            .col-md {
                padding: 20px;

            }

        }

        #section-1 {
            .tzone-info-wrapper {
                padding: 40px 15px;

                &:before {
                    display: none;
                }
            }
        }

        #section-2 {
            padding-bottom: 50px;

            .row {
                flex-direction: column;
                background-position: center;
                justify-content: center;

                .col-md {
                    padding: 223px 0 42px 59px;
                    margin-bottom: 20px;
                    background-position: center;
                    justify-content: center;
                }
            }
        }

        #section-3 {
            padding-bottom: 50px;

            .block-1 {
                padding-bottom: 50px;
            }

            .how-work-wrapp {
                
                padding: 0;
                .how-work-text {
                    padding: 0;
                }
                p {
                    font-size: 18px;
                    line-height: 37px;
                }
            }

            .hww-1,
            .hww-3 {
                flex-direction: column-reverse;
            }

            .how-work-1,
            .how-work-2,
            .how-work-3,
            .how-work-4 {
                align-items: center;
                padding: 40px 0;
            }

            .how-work-2,
            .how-work-4
             {
                .how-work-item {
                    padding: 0 15px;
                    .text-hw {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                    }

                    p,
                    .h3-blue {
                        text-align: left;
                        
                    }
                }
            } 

        }

        #section-4 {
            padding: 50px 0;
            .be-part-row {
                .be-part-col {
                    .title-button-block {
                        flex-direction: column;
                        padding-bottom: 20px;
                    }
                }
            } 
        }

        footer {
            padding-top: 50px;
            .logo-footer-wrapp {
                img{
                    margin: auto;
                }
            }

            .footer-rights {
                text-align: center;
            }

            .footer-info-block {
                ul {
                    padding-top: 20px;
                    align-items: center;
                }
            }

            .under-footer {
                .copyright-block {
                    ul {
                        li {
                            padding-right: 20px;
                        }
                    } 
                }
            }  
        }
    }



    @media (max-width: 576px) {}